# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
node_modules/
README2.md
Documentacion.md
DockerfileCopy
Dockerfile
tarea-casa.md
# Variables de entorno (NUNCA subir credenciales)
.env
.env.local

# Archivos temporales
*.tmp
*.swp